#main{
    position: relative;
    background: linear-gradient(to right, green, cyan);
    overflow: hidden;
}
header {
    margin-top: 50px;
}
.heading {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}
.note{
    font-family: 'Poppins', cursive;
}
.description {
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: 'Kaushan Script', cursive;
    font-size: 17px;
    font-style: italic;
    padding-top: 0px;
}
#container {
    display: block;
    width: 300px;
    height: 1000px;
    font-family: 'Kaushan Script', cursive;
    margin: 10px auto 10px auto;
    padding: 10px 20px;
    border-radius: 0.40rem;
    color: #ffffff
}
@media screen and (min-width: 550) {
    #container {
        width: 500px;
    }
  }
@media screen and (min-width: 700px) {
    #container {
        width: 600px;
    }
  }
@media screen and (min-width: 1000px) {
    #container {
        width: 850px;
    }
  }
  ul{
      color: black;
  }
#shopping{
  width: 50%;
  float: left;
}
#css{
  width: 50%;
  float: left;
  text-align: center;
}
#clear{
  clear: both;
}