body {
  margin: 20px;
  background: linear-gradient(to right, green, cyan);
}
#main{
    position: relative;
    overflow: hidden;
}
header {
    margin-top: 50px;
}
.heading {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}
.note{
    font-family: 'Poppins', cursive;
}
.description {
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: 'Kaushan Script', cursive;
    font-size: 17px;
    font-style: italic;
    padding-top: 0px;
}
#container {
  margin: 20px;
    font-family: 'Kaushan Script', cursive;
    border-radius: 0.40rem;
    color: #ffffff;
}
  ul{
      color: black;
  }
#shopping{
  width: 100%;
  margin: auto;
}
#css{
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 400px) {
  #container {
    display: inline;
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
  #container {
    display: flex;
      width: 100%;
  }
}
@media screen and (min-width: 701px) {
  #container {
    display: flex;
      width: 60%;
}
}